.chatbox-container {
    max-width: 500px;
    margin: auto;
}

.col-md-4 {
    height: 400px;
    background: whitesmoke;
    max-width: 500px;
    border-radius: 25px;
}

.chat {
    height: 350px;
    max-width: 500px;
    overflow-y: scroll;
}

.row {
    max-width: 500px;
}


.form-control {
    width: 500px;
    min-height: 2em;
    font-size: 16px;
    resize: none;
    border-width: 3px;
    border-radius: 11px;
    border-color: grey;
}

.form-control:focus {
    outline: 0;
}

#user-chat {
    padding-left: 20px;
    padding-top: 5px;
    border-bottom: 1px solid lightgrey;
    color: grey;
}

.chat-message {
    font-size: 16px;
    list-style-type: none; margin: 0; padding: 0; 
    padding: 5px 10px; 
}

.chat-message:nth-child(odd) { 
    background: lightgrey; 
}
