.activity-input {
    width: 400px;
    border-top: none;
	border-left: none;
	border-right: none;
}

.activity-input:focus {
    outline: 0;
}

.time-input {
    width: 400px;
    border-top: none;
	border-left: none;
    border-right: none;
    font-display: hidden;
}

.time-input:focus {
    outline: 0;
}

.location-input {
    width: 400px;
    border-top: none;
	border-left: none;
    border-right: none;
}

.location-input:focus {
    outline: 0;
}

.additional-info-input {
    width: 400px;
    height: 150px;
    font-size: 16px;
    /* padding: 12px 20px; */
    /* box-sizing: border-box; */
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: whitesmoke;
    resize: none;
}

.additional-info-input:focus {
    outline: 0;
}

p {
    font-size: 20px;
}