.details-container {
    margin-top: 35px;
}

.activity-item-row {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    border: black;
}

.host-column {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.host-img {
    height: 115px;
    width: 115px;
}

.host-name {
    margin: 0;
}

.description-column {
    margin-top: 20px;
    margin-left: 20px;
    width: 450px;
}

.description-item {
    margin: 0;
    padding-bottom: 5px;
}

.buttons-column {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 20px;
}

.button-item-interested {
    height: 30px;
    width: 90px;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 10px;
}

.button-item-interested:focus {
    height: 30px;
    width: 90px;
    color: white;
    background-color: #FF8944;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 10px;
    outline: none;
}

.button-item-confirmed {
    height: 30px;
    width: 90px;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 10px;
}

.button-item-confirmed:focus {
    height: 30px;
    width: 90px;
    color: white;
    background-color: #67F751;
    font-size: 14px;
    outline: none;
    border-radius: 5px;
    margin-top: 10px;
}