.grid-container {
  display: grid;
  grid-template-columns: 0.8fr 1.2fr 0.8fr;
  grid-template-rows: 0.15fr;
  grid-template-areas: "logo search-bar icons";
  padding-top: 20px
}

.logo {
  grid-area: logo;
  margin: auto;
}

.logo-img {
    width: 260px;
    height: 90px;
    padding-left: 70px;
}

.search-bar {
  grid-area: search-bar;
  margin: auto;
}

.icons {
  grid-area: icons;
  margin: auto;
}

.profile-icon {
    position: relative;
    top: 14;
    padding-left: 20px;
}


/* .navbar-flex {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    background-color: lightblue;
    border-bottom: solid;
    border-color: lightblue;
    border-width: 1px;
    height: 75px;
    width: 100%;
    z-index: 9;
}


.nav-logo {
    margin-left: 20px;
    padding-top: 5px;
    height: 65px;
}

.nav-links {
    margin: auto;
    margin-top: auto;
}

.link {
    margin-left: 15px;
    font-size: 18px;
    border: solid;
    border-width: 1px;
    border-radius: 25px;
    padding: 8px;
    border-color: grey;
    color: black;
    background-color: white;
    text-decoration: none;
    text-transform: uppercase;
}
 */
