.activity-item-container {
    display: flex;
    width: 590px;
    margin-top: 30px;
    border-left: 2.5px solid orange;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    background-color: #F2F8F9;
}

.activity-item-container:hover {
    background-color: #EEFAFE;
}

.img-box {
    flex: 1;
    padding-left: 12px;
}

.description-box {
    flex: 8;
    align-self: center;
    padding-left: 20px;

}

.button-box {
    flex: 1;
    align-self: center;
    padding-right: 20px;
}



/* .activity-item-container {
    margin-top: 35px;
}

.activity-item-row {
    display: flex;
    flex-direction: row;
    border: black;
}

.host-column {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.host-img {
    height: 115px;
    width: 115px;
}

.host-name {
    margin: 0;
}

.description-column {
    margin-top: 20px;
    margin-left: 20px;
    width: 400px;
}

.description-item {
    margin: 0;
    padding-bottom: 5px;
}

.details-button {
    height: 35px;
    width: 60px;
    font-size: 14px;
    margin-top: 35px;
    margin-left: 25px;
    border-radius: 5px;
}

.delete-button {
    color: #635A5A;
    height: 35px;
    width: 30px;
    font-size: 14px;
    margin-top: 35px;
    margin-left: 8px;
    border-radius: 5px;
}

.unhost-button {
    color: #635A5A;
    height: 35px;
    width: 62px;
    font-size: 14px;
    margin-top: 35px;
    margin-left: 8px;
    border-radius: 5px;
} */